{% block form_row %}
    <div class="form-group">
        {% if attr.class is defined %}
            {% if 'checkbox-animate-right' in attr.class %}
                <label class="col-lg-8 col-md-8 col-sm-8 col-xs-9 control-label">{{ form_label(form) }}</label>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">
                    {{ form_widget(form) }}
                    {{ form_errors(form) }}
                </div>
            {% elseif 'multiple' in attr.class %}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {{ form_label(form) }}
                </div>

                {{ form_widget(form) }}
                {{ form_errors(form) }}
            {% else %}
                {% if form.parent.vars.attr.class is defined and 'form-horizontal' in form.parent.vars.attr %}
                    <label class="col-lg-4 col-md-4 col-sm-2 col-xs-6 control-label">
                        {{ form_label(form) }}
                    </label>

                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
                        {{ form_widget(form) }}
                        <span class="highlight"></span>
                        <span class="bar"></span>

                        {{ form_errors(form) }}
                    </div>
                {% else %}
                    <label class="col-lg-6 col-md-6 col-sm-6 col-xs-6 control-label">
                        {{ form_label(form) }}
                    </label>

                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
                        {{ form_widget(form) }}
                        <span class="highlight"></span>
                        <span class="bar"></span>

                        {{ form_errors(form) }}
                    </div>
                {% endif %}
            {% endif %}
        {% else %}
            {% if 'form_title' in attr %}
                <h3>{{ form_label(form) }}</h3>
                <hr class="form-hr">
            {% else %}
                <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label">{{ form_label(form) }}</label>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
                    {{ form_widget(form) }}
                    {{ form_errors(form) }}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock form_row %}

{% block form_label %}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif %}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}*
        {%- endif %}
        {% if label is empty -%}
            {% set label = name|humanize %}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %}
        {{ attrname }}="{{ attrvalue }}"
    {% endfor %}>
        {{ label|trans({}, translation_domain) }}
        </label>
    {%- endif %}
{% endblock form_label %}

{% block checkbox_widget %}
    <input type="checkbox" {{ block('widget_attributes') }}
            {% if value is defined %}
                value="{{ value }}"
            {% endif %}
            {% if checked %}
                checked="checked"
            {% endif %} />
{% endblock checkbox_widget %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="form-error">
                <ul>
                    {% for error in errors %}
                        <li>{{ error.cause.propertyPath }} : {{ error.message|trans }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block choice_widget_expanded %}
    {% spaceless %}
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul {{ block('widget_container_attributes') }}>
                {% for child in form %}
                    <li>
                        {{ form_widget(child, { 'attr': { 'class': attr.widget_class|default('') ~ ' checkbox-animate' } }) }}
                        <b>{{ child.vars.label|trans({}, translation_domain) }}</b>
                    </li>
                {% endfor %}
            </ul>
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block entity_multiple_widget %}
    {% spaceless %}
        {% set i = 0 %}
        {% for child in form if child.vars.checked == 1 %}
            {% set i = i + 1 %}
        {% endfor %}

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <select title="{{ form.vars.label|trans({}, translation_domain) }}" name="{{ form.vars.full_name }}" id="{{ form.vars.id }}" class="control-animate">
                <option value></option>
                {% for child in form if child.vars.checked == 0 %}
                    <option value="{{ child.vars.value }}">{{ child.vars.label }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-multiple">
                <div class="header-multiple">
                    <label class="selected-multiple">{{ "form.choiced"|trans }} :</label>
                    <span class="glyphicon glyphicon-chevron-{% if i <= 10 or i == 0 %}up{% else %}down{% endif %} btn-list-display"></span>
                </div>

                <ul class="multiple" {% if i > 10 %}style="display: none;"{% endif %}>
                    {% for child in form if child.vars.checked == 1 %}
                        <li>
                            {{ form_widget(child, { 'attr': { 'hidden': 'hidden' } }) }}
                            <button role="button" class="btn btn-default btn-list-remove">{{ child.vars.label|trans({}, translation_domain) }}</button>
                        </li>
                    {% endfor %}
                </ul>

                {{ form_errors(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock entity_multiple_widget %}

{% block vich_file_widget %}
    {% spaceless %}
        <div class="vich-file">
            <div class="col-lg-12 col-md-12">
                {{ form_widget(form.file) }}
            </div>

            {% if form.delete is defined %}
                <div class="col-lg-12 col-md-12 form-delete">
                    {{ form_widget(form.delete, {'attr': {'class': 'checkbox-animate'} }) }} {{ form_label(form.delete) }}
                </div>
            {% endif %}

            {% if download_uri is defined and download_uri %}
                <div class="col-lg-12 col-md-12">
                    <a href="{{ download_uri }}">{{ 'download'|trans({}, 'VichUploaderBundle') }}</a>
                </div>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}