{% set namePluralize = name_pluralize(form.vars.attr.id|replace({'app.': ""}) ) %}
{% form_theme form 'GeoksAdminBundle:Form:fields.html.twig' %}

{{ form_start(form) }}

<h1>{% if form.vars.attr.id is defined %}{{ form.vars.attr.id|trans }}{% endif %}</h1>
<label id="user-id" hidden="hidden">{% if form.vars.data.id is defined %}{{ form.vars.data.id|trans }}{% endif %}</label>
<label id="entity-name" hidden="hidden">{% if form.vars.attr.id is defined %}{{ namePluralize }}{% endif %}</label>
<hr>

<div class="form-error">
    {{ form_errors(form) }}
</div>

{% if form.plainPassword is defined and form.passwordConfirm is defined %}
    <div id="form-changePassword" class="box box-filter">
        <div class="box-body padding box-form">
            <h3>{{ form_label(form.password_title) }}</h3>

            {{ form_row(form.plainPassword) }}
            {{ form_row(form.passwordConfirm) }}
        </div>
    </div>
{% endif %}

{% if form.changePassword is defined %}
    <div id="form-changePassword" class="box box-filter">
        <div class="box-body padding box-form">
            <div class="form-group">
                <div class="col-md-8">
                    {{ form_row(form.changePassword) }}
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div class="box box-info">
    <div class="box-body padding box-form">
        {% if singleForm is defined %}
            {{ form_row(child) }}
        {% else %}
            {% set notRequired = false %}

            {% for child in form.children if (child.vars.required is defined and child.vars.required == false) %}
                {% if child and notRequired == false %}
                    {% set notRequired = true %}
                {% endif %}
            {% endfor %}

            {% if notRequired %}
                <div class="row">
                    <div class="col-md-6 right-hr">
                        <h3 align="center">{{ "form.required"|trans }}</h3>

                        {% for child in form.children if (child.vars.required is defined and child.vars.required == true) %}
                            {{ form_row(child) }}
                        {% endfor %}
                    </div>
                    <div class="col-md-6">
                        <h3 align="center">{{ "form.otherFields"|trans }}</h3>

                        {% for child in form.children if (child.vars.required is defined and child.vars.required == false) %}
                            {{ form_row(child) }}
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                {% for child in form.children %}
                    {{ form_row(child) }}
                {% endfor %}
            {% endif %}
        {% endif %}
        <hr>
        <div class="box-footer">
            <button id="submit" class="btn btn-animate btn-blue {% if confirm is defined %}confirm-submit{% endif %}" type="submit">{{ "form.submit"|trans }}</button>
            <a href="{{ path('geoks_admin_' ~ namePluralize ~ '_index') }}" class="btn btn-animate btn-warning">{{ "form.cancel"|trans }}</a>
        </div>
    </div>
</div>

{{ form_end(form) }}