{% set namePluralize = name_pluralize(form.vars.attr.id|replace({'app.': ""}) ) %}
{% form_theme form 'GeoksAdminBundle:Form:fields.html.twig' %}

{{ form_start(form) }}

<h1>{% if form.vars.attr.id is defined %}{{ form.vars.attr.id|trans }}{% endif %}</h1>
<label id="user-id" hidden="hidden">{% if form.vars.data.id is defined %}{{ form.vars.data.id|trans }}{% endif %}</label>
<label id="entity-name" hidden="hidden">{% if form.vars.attr.id is defined %}{{ namePluralize }}{% endif %}</label>
<hr>

<div class="form-error">
    {{ form_errors(form) }}
</div>

{% if form.plainPassword is defined and form.passwordConfirm is defined %}
    <div id="form-changePassword">
        <h3 align="center">{{ form_label(form.password_title) }}</h3>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                {{ form_row(form.plainPassword) }}
                {{ form_row(form.passwordConfirm) }}
            </div>
        </div>
    </div>
{% endif %}

{% if form.changePassword is defined %}
    <div id="form-changePassword">
        <div class="form-group">
            <div class="col-md-8">
                {{ form_row(form.changePassword) }}
            </div>
        </div>
    </div>
{% endif %}

<div class="box box-simple">
    <div class="box-body box-form">
        {% if singleForm is defined %}
            {{ form_row(child) }}
        {% else %}
            {% set i = 0 %}
            {% set b = 0 %}

            {% set notRequired = false %}
            {% set required = false %}

            {% for child in form.children if (child.vars.required is defined and child.vars.required == false) and (child.vars.attr.class is defined and "multiple" not in child.vars.attr.class) %}
                {% if child %}
                    {% set notRequired = true %}
                    {% set b = b + 1 %}
                {% endif %}
            {% endfor %}

            {% for child in form.children if (child.vars.required is defined and child.vars.required == true) and (child.vars.attr.class is defined and "multiple" not in child.vars.attr.class) %}
                {% if child %}
                    {% set required = true %}
                    {% set b = b + 1 %}
                {% endif %}
            {% endfor %}

            {% for child in form.children if (child.vars.attr.class is defined and "multiple" in child.vars.attr.class) %}
                {% if (banFields is defined and child.vars.id not in banFields) or banFields is not defined %}
                    {% set i = i + 1 %}
                {% endif %}
            {% endfor %}

            {% if notRequired and required %}
                <div class="col-md-6">
                    <h3 align="center">{{ "form.required"|trans }}</h3>

                    {% for child in form.children if (child.vars.required is defined and child.vars.required == true) and (child.vars.attr.class is defined and "multiple" not in child.vars.attr.class or child.vars.attr.class is not defined) %}
                        {{ form_row(child) }}
                    {% endfor %}
                </div>
                <div class="col-md-6 form-right">
                    <h3 align="center">{{ "form.otherFields"|trans }}</h3>

                    {% for child in form.children if (child.vars.required is defined and child.vars.required == false) and (child.vars.attr.class is defined and "multiple" not in child.vars.attr.class or child.vars.attr.class is not defined) %}
                        {{ form_row(child) }}
                    {% endfor %}
                </div>
            {% elseif notRequired %}
                <div class="col-md-12">
                    <h3 align="center">{{ "form.fields"|trans }}</h3>

                    {% for child in form.children if (child.vars.required is defined and child.vars.required == false) and (child.vars.attr.class is defined and "multiple" not in child.vars.attr.class or child.vars.attr.class is not defined) %}
                        {% if loop.first %}
                            {% if b > 3 %}
                                <div class="col-md-6">
                            {% else %}
                                <div class="col-md-offset-2 col-md-8">
                            {% endif %}
                        {% endif %}

                        {{ form_row(child) }}

                        {% if (loop.index)%2 == 0 %}
                            </div>

                            {% if b > 3 %}
                                <div class="col-md-6">
                            {% else %}
                                <div class="col-md-offset-2 col-md-8">
                            {% endif %}
                        {% endif %}

                        {% if loop.index == b %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                {% set b = 0 %}

                <div class="col-md-12">
                    <h3 align="center">{{ "form.required"|trans }}</h3>

                    <div class="row">
                        <div class="col-md-10">
                            {% for child in form.children if (child.vars.required is defined and child.vars.required == true) and (child.vars.attr.class is defined and "multiple" not in child.vars.attr.class or child.vars.attr.class is not defined) %}
                                {{ form_row(child) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if i > 0 %}
                <div class="col-md-12 form-bottom">
                    <h3 align="center">{{ "form.manyFields"|trans }}</h3>
                    <br>

                    {% for child in form.children if (child.vars.attr.class is defined and "multiple" in child.vars.attr.class) %}
                        {% if (banFields is defined and child.vars.id not in banFields) or banFields is not defined %}
                            {% if loop.first %}
                                {% if i > 3 %}
                                    <div class="col-md-4">
                                {% else %}
                                    <div class="col-md-offset-2 col-md-8">
                                {% endif %}
                            {% endif %}

                            {{ form_row(child) }}

                            {% if (loop.index)%3 == 0 %}
                                </div>

                                {% if i > 3 %}
                                    <div class="col-md-4">
                                {% else %}
                                    <div class="col-md-offset-2 col-md-8">
                                {% endif %}
                            {% endif %}

                            {% if loop.index == i %}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}

        <div class="col-md-12">
            <hr>
            <div class="box-footer">
                <button id="submit" class="btn btn-animate btn-primary {% if confirm is defined %}confirm-submit{% endif %}" type="submit">{{ "form.submit"|trans }}</button>
                <a href="{{ path('geoks_admin_' ~ namePluralize ~ '_index') }}" class="btn btn-animate btn-warning">{{ "form.cancel"|trans }}</a>
            </div>
        </div>
    </div>
</div>

{{ form_end(form) }}
