<div id="import-data" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center">
                    {{ "admin.import"|trans }}
                </h4>
            </div>

            <div class="modal-body text-center">
                {{ form_start(form) }}

                {{ form_row(form.type) }}
                {{ form_row(form.import_csv) }}

                <hr>
                <button type="submit" class="btn btn-animate btn-blue">Valider</button>
                <button type="button" class="btn btn-animate btn-warning" data-dismiss="modal">Annuler</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>