<div id="import-data" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center">
                    {{ "admin.import"|trans }}
                </h4>
            </div>

            <div class="modal-body text-center">
                {{ form_start(form) }}
                {% form_theme form 'GeoksAdminBundle:Form:fields.html.twig' %}

                {{ form_row(form.type) }}
                {{ form_row(form.import_csv) }}
                {{ form_row(form.images) }}

                <div class="warning">
                    <div class="form-group">
                        <p>
                            Attention : Cette action entrainera <b>la suppression de l'intégralité de la table</b>.
                        </p>
                    </div>

                    <div class="form-group">
                        <input id="check-import" type="checkbox" class="checkbox-animate">
                        <label class="control-label" for="check-import">Êtes-vous sûr ?</label>
                    </div>
                </div>

                <hr>
                <button type="submit" class="btn btn-animate btn-blue">Valider</button>
                <button type="button" class="btn btn-animate btn-warning" data-dismiss="modal">Annuler</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>