{% macro td(modelName, name, type = false) %}
    {% set list = attribute(modelName, 'get' ~ name) %}
    {% set element = attribute(modelName, name) %}

    <td>
        {% for a in list %}
            {% if loop.index -1 == element %}
                {% if type == false %}
                    {{ a }}
                {% elseif type == 'email' %}
                    {{ a }}
                {% elseif type == 'date' %}
                    {{ a | date('d/m/Y H:i') }}
                {% elseif type == 'datetime' %}
                    {{ a | date('d/m/Y H:i') }}
                {% elseif type == 'model' %}
                    {% if a == false %}
                        -
                    {% else %}
                        {{ a }}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </td>
{% endmacro %}
