{% set name = filter_form.vars.attr.id|replace({'app.': ""}) %}
{% set namePluralize = name_pluralize(name) %}

<label id="entity-name" hidden="hidden">{{ namePluralize }}</label>

<div class="row">
    {{ include('GeoksAdminBundle:Form:filter.html.twig', {'form' : filter_form}) }}
</div>

<div class="resultNb">
    <span class="badge">{{ numberOfResults }} résultats</span>
</div>

<hr>
<a class="btn btn-animate btn-blue" href="{{ path('geoks_admin_' ~ namePluralize ~ '_create') }}">{{ "app.add"|trans }}</a>

{% if route_exists('geoks_admin_' ~ namePluralize ~ '_import') %}
    <button type="button" class="btn btn-animate btn-light-blue"  data-toggle="modal" data-target="#import-data">{{ "admin.import"|trans }}</button>

    {{ include('GeoksAdminBundle:Form:import.html.twig', {'form' : import_form}) }}
{% endif %}

<!-- Launch Modal -->
<button type="button" class="btn btn-animate btn-blue" data-toggle="modal" data-target="#myModal">
    {{ "app.action_group"|trans }}
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Actions Groupées</h4>
            </div>
            <div class="modal-body">
                <button type="button" onclick="multipleDelete()" class="btn btn-danger" data-dismiss="modal">{{ "app.delete"|trans }}</button>
                <button type="button" onclick="multipleExport()" class="btn btn-primary" data-dismiss="modal">{{ "app.export"|trans }}</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ "app.exit"|trans }}</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-14 col-sm-14 col-xs-14">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">{{ ('app.' ~ namePluralize)|lower|trans }}</h3>
            </div>
            <div id="box-data" class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin">
                        {% if entities|length %}
                            <thead>
                            <tr>
                                <td>-</td>
                                {% for field in fields %}
                                    <th{% if entities.isSorted('a.' ~ field) %} class="sorted"{% endif %}>
                                        {% if entities[0] is not null and attribute(entities[0], field) is defined %}
                                            {{ knp_pagination_sortable(entities, (name|lower ~ "." ~ field)|trans({}, name|lower), ['a.' ~ field]) }}
                                        {% else %}
                                            {{ (name|lower ~ "." ~ field)|trans({}, name|lower) }}
                                        {% endif %}
                                    </th>
                                {% endfor %}

                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entity in entities %}
                                {% if (entity.roles is defined and 'ROLE_SUPER_ADMIN' not in entity.roles) or entity.roles is not defined or 'ROLE_SUPER_ADMIN' in app.user.roles %}
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="list-checkbox[]" value="{{ entity.id }}" class="checkbox-animate">
                                        </td>

                                        {% for field in fields %}
                                            <td>
                                                {% if '.' in field %}
                                                    {% set field = field|split('.') %}

                                                    {% set fieldName = class(field[0])|lower %}
                                                    {% set fieldEntity = attribute(entity, fieldName) %}

                                                    {% set field = field[1]|replace({'_': ""}) %}
                                                {% else  %}
                                                    {% set fieldEntity = entity %}
                                                    {% set field = field|replace({'_': ""}) %}
                                                {% endif %}

                                                {% if attribute(fieldEntity, field) is defined and attribute(fieldEntity, field) %}
                                                    {% set field = attribute(fieldEntity, field) %}

                                                    {% if field is iterable %}
                                                        {{ field|length }}
                                                    {% elseif field.timestamp is defined %}
                                                        {{ field|date('d/m/Y H:i:s') }}
                                                    {% elseif field == 'true' %}
                                                        {{ "app.yes"|trans }}
                                                    {% elseif field == 'false' %}
                                                        {{ "app.no"|trans }}
                                                    {% else %}
                                                        {{ field|trans({}, name|lower) }}
                                                    {% endif %}
                                                {% else %}
                                                    <label class="label label-default">{{ "app.noData"|trans }}</label>
                                                {% endif %}
                                            </td>
                                        {% endfor %}

                                        <td>
                                            <a class="btn btn-animate btn-info" href="{{ path('geoks_admin_' ~ namePluralize ~ '_show', {'id': entity.id}) }}">Voir</a>
                                            <a class="btn btn-animate btn-blue" href="{{ path('geoks_admin_' ~ namePluralize ~ '_update', {'id': entity.id}) }}">Modifier</a>
                                            <a class="btn btn-animate btn-danger" href="{{ path('geoks_admin_' ~ namePluralize ~ '_delete', {'id': entity.id}) }}">Supprimer</a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        {% else %}
                            <br />
                            <center>{{ "app.noData"|trans }}</center>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div id="pagination" class="col-md-12 text-center">
        {{ knp_pagination_render(entities) }}
    </div>
</div>