{% set name = filter_form.vars.attr.id|replace({'app.': ""}) %}
{% set namePluralize = name_pluralize(name) %}

<div class="row">
    {{ include('GeoksAdminBundle:Form:filter.html.twig', {'form' : filter_form}) }}
</div>
<div class="resultNb">
    <span class="badge">{{ numberOfResults }} résultats</span>
</div>
<hr>
<a class="btn btn-animate btn-blue" href="{{ path('geoks_admin_' ~ namePluralize ~ '_create') }}">Ajouter</a>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">{{ ('app.' ~ namePluralize)|trans }}</h3>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin">
                        {% if entities|length %}
                            <thead>
                            <tr>
                                {% for field in fields %}
                                    <th{% if entities.isSorted('a.' ~ field) %} class="sorted"{% endif %}>
                                        {% if entities[0] is not null and attribute(entities[0], field) is defined %}
                                            {{ knp_pagination_sortable(entities, (name|lower ~ "." ~ field)|trans({}, name|lower), ['a.' ~ field]) }}
                                        {% else %}
                                            {{ (name|lower ~ "." ~ field)|trans({}, name|lower) }}
                                        {% endif %}
                                    </th>
                                {% endfor %}

                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entity in entities %}
                                {% if (entity.roles is defined and 'ROLE_SUPER_ADMIN' not in entity.roles) or entity.roles is not defined %}
                                    <tr>
                                        {% for field in fields %}
                                            <td>
                                                {% if '.' in field %}
                                                    {% set field = field|split('.') %}

                                                    {% set fieldName = class(field[0])|lower %}
                                                    {% set fieldEntity = attribute(entity, fieldName) %}

                                                    {% set field = field[1]|replace({'_': ""}) %}
                                                {% else  %}
                                                    {% set fieldEntity = entity %}
                                                    {% set field = field|replace({'_': ""}) %}
                                                {% endif %}

                                                {% if attribute(fieldEntity, field) is defined and attribute(fieldEntity, field) %}
                                                    {% set field = attribute(fieldEntity, field) %}

                                                    {% if field is iterable %}
                                                        {{ field|length }}
                                                    {% elseif field.timestamp is defined %}
                                                        {{ field|date('d/m/Y H:i:s') }}
                                                    {% elseif field == 'true' %}
                                                        {{ "app.yes"|trans }}
                                                    {% elseif field == 'false' %}
                                                        {{ "app.no"|trans }}
                                                    {% else %}
                                                        {{ field|trans({}, name|lower) }}
                                                    {% endif %}
                                                {% else %}
                                                    <label class="label label-default">{{ "app.noData"|trans }}</label>
                                                {% endif %}
                                            </td>
                                        {% endfor %}

                                        <td>
                                            <a class="btn btn-animate btn-info" href="{{ path('geoks_admin_' ~ namePluralize ~ '_show', {'id': entity.id}) }}">Voir</a>
                                            <a class="btn btn-animate btn-blue" href="{{ path('geoks_admin_' ~ namePluralize ~ '_update', {'id': entity.id}) }}">Modifier</a>
                                            <a class="btn btn-animate btn-danger" href="{{ path('geoks_admin_' ~ namePluralize ~ '_delete', {'id': entity.id}) }}">Supprimer</a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        {% else %}
                            <br />
                            <center>{{ "app.noData"|trans }}</center>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        {{ knp_pagination_render(entities) }}
    </div>
</div>