{% set className = class(entity) %}
{% set namePluralize = name_pluralize(className|lower) %}

<h1>{{ ('app.' ~ className)|lower|trans }} n°{{ entity.id }}</h1>

<div class="row">
    <div class="breadcrumb">
        {% if route_exists('geoks_admin_' ~ namePluralize ~ '_index') %}
            <a href="{{ path('geoks_admin_' ~ namePluralize|lower|first ~ namePluralize|slice(1) ~ '_index') }}" class="btn btn-animate btn-light-blue">{{ "app.show.return"|trans }}</a>
        {% endif %}

        {% if route_exists('geoks_admin_' ~ namePluralize ~ '_update') %}
            <a class="btn btn-animate btn-primary" href="{{ path('geoks_admin_' ~ namePluralize|lower|first ~ namePluralize|slice(1) ~ '_update', {'id': entity.id}) }}">Modifier</a>
        {% endif %}

        {% if route_exists('geoks_admin_' ~ namePluralize ~ '_delete') %}
            <a class="btn btn-animate btn-danger" href="{{ path('geoks_admin_' ~ namePluralize|lower|first ~ namePluralize|slice(1) ~ '_delete', {'id': entity.id}) }}">Supprimer</a>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="{% if fields_associations %}col-md-6{% else %}col-md-offset-1 col-md-10{% endif %}">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">{{ "app.show.attributes"|trans }}</h3>
            </div>

            <div class="box-body padding">
                <div class="table-responsive">
                    <table class="table no-margin">
                        <tbody>
                        {% for field in fields %}
                            {% if banList is not defined or field.fieldName not in banList %}
                                <tr>
                                    <td>{{ (className|lower ~ "." ~ field.fieldName)|trans({}, className|lower) }}</td>
                                    <td>
                                        {% if attribute(entity, field.fieldName) is defined and attribute(entity, field.fieldName) is not null %}
                                            {% set fieldValue = attribute(entity, field.fieldName) %}

                                            <b>
                                                {% if fieldValue is iterable %}
                                                    {% if fieldValue|length > 0 %}
                                                        <ul class="nopadding-left">
                                                            {% for v in fieldValue %}
                                                                <li>{{ v }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% else %}
                                                        <label class="label label-default">{{ "app.noData"|trans }}</label>
                                                    {% endif %}
                                                {% elseif fieldValue.timestamp is defined %}
                                                    {{ fieldValue|date('d/m/Y H:i:s') }}
                                                {% elseif fieldValue is same as(true) %}
                                                    {{ "app.yes"|trans }}
                                                {% elseif fieldValue is same as(false) %}
                                                    {{ "app.no"|trans }}
                                                {% else %}
                                                    {{ fieldValue|trans({}, className|lower) }}
                                                {% endif %}
                                            </b>
                                        {% else %}
                                            <label class="label label-default">{{ "app.noData"|trans }}</label>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% if fields_associations %}
        <div class="col-md-6">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">{{ "app.show.associations"|trans }}</h3>
                </div>
                <div class="box-body padding">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <tbody>
                            {% for field in fields_associations %}
                                {% set fieldName = field.fieldName|replace({'_': ""}) %}
                                <tr>
                                    <td>{{ (className|lower ~ "." ~ field.fieldName)|trans({}, className|lower) }}</td>
                                    <td>
                                        {% if attribute(entity, fieldName) is defined and attribute(entity, fieldName) %}
                                            {% set fieldValue = attribute(entity, fieldName) %}
                                            <b>
                                                {% if fieldValue is iterable %}
                                                    {% if fieldValue|length > 0 %}
                                                        <ul class="nopadding-left">
                                                            {% for v in fieldValue %}
                                                                {% if route_exists('geoks_admin_' ~ name_pluralize(class(v))|lower ~ '_show', {'id': v.id})  %}
                                                                    <li>
                                                                        <a href="{{ path('geoks_admin_' ~ name_pluralize(class(v))|lower ~ '_show', {'id': v.id}) }}">{{ v }}</a>
                                                                    </li>
                                                                {% else %}
                                                                    <li>{{ v }}</li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ul>
                                                    {% else %}
                                                        <label class="label label-default">{{ "app.noData"|trans }}</label>
                                                    {% endif %}
                                                {% elseif fieldValue.timestamp is defined %}
                                                    {{ fieldValue|date('d/m/Y H:i:s') }}
                                                {% elseif fieldValue == 'true' %}
                                                    {{ "app.yes"|trans }}
                                                {% else %}
                                                    {% if route_exists('geoks_admin_' ~ name_pluralize(class(fieldValue))|lower ~ '_show', {'id': fieldValue.id})  %}
                                                        <a href="{{ path('geoks_admin_' ~ name_pluralize(class(fieldValue))|lower ~ '_show', {'id': fieldValue.id}) }}">{{ fieldValue }}</a>
                                                    {% else %}
                                                        {{ fieldValue }}
                                                    {% endif %}
                                                {% endif %}
                                            </b>
                                        {% elseif field.type is defined and field.type == 'boolean' %}
                                            {{ "app.no"|trans }}
                                        {% else %}
                                            <label class="label label-default">{{ "app.noData"|trans }}</label>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

{% if images %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">{{ "app.show.images"|trans }}</h3>
                </div>

                <div class="box-body padding">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <tbody>
                            {% for key, value in images %}
                                <tr>
                                    <td>
                                        {% if attribute(entity, value.fileNameProperty) is defined and attribute(entity, value.fileNameProperty) is not null %}
                                            {% set fieldValue = attribute(entity, value.fileNameProperty) %}

                                            {% if fieldValue %}
                                                {% if ".MP4" in vich_uploader_asset(entity, key) or ".mp4" in vich_uploader_asset(entity, key) or ".avi" in vich_uploader_asset(entity, key) or ".AVI" in vich_uploader_asset(entity, key)
                                                or ".mov" in vich_uploader_asset(entity, key)  or ".MOV" in vich_uploader_asset(entity, key) or ".mpg" in vich_uploader_asset(entity, key) or ".MPG" in vich_uploader_asset(entity, key) %}
                                                    <video controls width="100%" src="{{ vich_uploader_asset(entity, key) }}">Movie</video>
                                                {% elseif '.pdf' in vich_uploader_asset(entity, key) or '.PDF' in vich_uploader_asset(entity, key) %}
                                                    <embed src="{{ vich_uploader_asset(entity, key) }}" width="100%" height="500" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html"></embed>
                                                {% elseif '.docx' in vich_uploader_asset(entity, key)  or '.doc' in vich_uploader_asset(entity, key) %}
                                                    <iframe src='https://view.officeapps.live.com/op/embed.aspx?src={{ vich_uploader_asset(entity, key) }}' width='100%' height='500px' frameborder='0'>Document</iframe>
                                                {% else %}
                                                    <img src="{{ vich_uploader_asset(entity, key) }}" alt="{{ fieldValue }}"
                                                         class="img-thumbnail" width="40%">
                                                {% endif %}

                                                <div class="col-lg-12 col-md-12 form-download">
                                                    <br>
                                                    <a href="{{ vich_uploader_asset(entity, key) }}"><button class="btn btn-animate btn-light-blue">{{ "app.see"|trans }}</button></a>
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            <label class="label label-default">{{ "app.noData"|trans }}</label>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}