{% extends 'GeoksAdminBundle::layout.html.twig' %}

{% block body %}
    <h1>{{ "app.entities_list"|trans }}</h1>

    <hr>
    <div class="row">
        {% for r in reflections %}
            <div class="col-md-2">
                {% set name = class(r.name) %}

                <a class="scroll" href="#{{ name }}">{{ name }}</a>
            </div>
        {% endfor %}
    </div>
    <hr>

    <div class="row">
        {% for r in reflections %}
            {% set name = class(r.name) %}
            {% set propertieNames = [] %}
            {% set propertieGroups = jms_groups_properties(r) %}

            {% for value in r.properties %}
                {% set propertyAnnotation = property_type(value) %}

                {% for p in propertyAnnotation %}
                    {% if p.type is defined %}
                        {% set propertieNames = propertieNames|merge({(value.name): p.type}) %}
                    {% elseif p.mapping is defined %}
                        {% set propertieNames = propertieNames|merge({(value.name): p.mapping}) %}
                    {% endif %}
                {% endfor %}
            {% endfor %}

            <div class="col-md-offset-2 col-md-8">
                <div class="panel-group" id="{{ name }}" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading{{ name }}">
                            <h4 class="panel-title">
                                {{ name }}
                            </h4>
                        </div>
                        <div id="{{ name }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{ name }}">
                            <div class="panel-body">
                                <h5>{{ "admin.properties"|trans }}</h5>
                                <br>

                                <div class="row">
                                    {% for key, value in propertieNames %}
                                        <div class="col-md-3">
                                            <strong><u>{{ key }}</u></strong>
                                            {% if value %}
                                                <br>{{ value }}
                                            {% endif %}
                                        </div>

                                        {% if (loop.index%4) == 0 %}
                                            <div class="col-md-12">
                                                <hr>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                                <br>
                                <h5>{{ "admin.properties_groups"|trans }}</h5>
                                <br>

                                <div class="row">
                                    {% for key, value in propertieGroups %}
                                        <div class="col-md-4">
                                            {% if (loop.index%4) == 0 %}
                                                <hr>
                                            {% endif %}

                                            <strong><u>{{ key }}</u></strong>
                                            <br>

                                            {% for v in value %}
                                                {{ v }}
                                                <br>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}