{% extends 'GeoksAdminBundle::layout.html.twig' %}

{% block body %}
    <h1>{{ "app.entities_list"|trans }}</h1>

    <hr>
    <div class="row">
        {% for key, e in entities %}
            <div class="col-md-2">
                <a class="scroll" href="#{{ key }}">{{ key }}</a>
            </div>
        {% endfor %}
    </div>
    <hr>

    <div class="row">
        {% for key, e in entities %}
            {% if e.groups is not empty or e.properties is not empty %}
                <div class="col-md-offset-2 col-md-8">
                    <div class="panel-group" id="{{ key }}" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading{{ key }}">
                                <h4 class="panel-title">
                                    {{ key }}
                                </h4>
                            </div>
                            <div id="{{ key }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{ key }}">
                                <div class="panel-body">
                                    <h3>{{ "admin.properties"|trans }}</h3>
                                    <br>

                                    <div class="row">
                                        {% set i = 0 %}

                                        {% for value in e.properties %}
                                            {% for v in value if (v.name is defined and v.name) and (v.type is defined and v.type) %}
                                                {% set i = i + 1 %}

                                                <div class="col-md-3">
                                                    <strong><u>{{ v.name }}</u></strong><br> {{ v.type }}
                                                </div>

                                                {% if (i%4) == 0 %}
                                                    <div class="col-md-12">
                                                        <hr>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </div>

                                    <br>
                                    <h3>{{ "admin.properties_groups"|trans }}</h3>
                                    <br>

                                    <div class="row">
                                        {% for key, value in e.groups %}
                                            <div class="col-md-6">
                                                <h4>{{ key }}</h4>

                                                <table class="table table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th>{{ "admin.property_name"|trans }}</th>
                                                        <th>{{ "admin.property_type"|trans }}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for prop in value %}
                                                    {% if prop.name %}
                                                    <tr>
                                                        <td>{{ prop.name }}</td>
                                                        <td>{{ prop.type }}</td>
                                                    </tr>
                                                    </tbody>
                                                    {% endif %}
                                                    {% endfor %}
                                                </table>
                                            </div>

                                            {% if (loop.index%2) == 0 %}
                                                <div class="col-md-12">
                                                    <hr>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
