{% extends 'GeoksAdminBundle::layout.html.twig' %}

{% block body %}
    <h1>{{ "app.logs"|trans }}</h1>
    <hr>

    <div class="row">
        <div class="col-sm-offset-1 col-md-10">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Context</th>
                </tr>
                </thead>
                <tbody>
                {% for log in front_logs %}
                    <tr>
                        <td>{{ log.id }}</td>
                        <td>{{ log.description }}</td>
                        <td>
                            {% for key,value in log.context %}
                                {{ key }} : {{ value }}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}